/* reset css */
*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
    
}

body{
    background-color: skyblue;
}
h1{
    text-align: center;
}
label{
    font-weight: 800;
    color: darkred;
}
button{
    background-color: darkred;
    border: none;
    padding: 20px 20px;
    border-radius: 10px;
    cursor: pointer;
}


}